body,
html{
	width: 100%;
	height: 100%;
	font-family: 'montserrat', sans-serif;
	background: url(header.jpg) no-repeat center center fixed;
	background-size: cover;
}

.container{
	height: 100%;
	align-items: center;

}

h1{
	color: white;
	font-size: 3rem;
	text-transform: uppercase;
	font-weight: 300;
}

.buffer{
	height: 10rem;
}

hr{
	border-color: #f05f44;
	border-width: 3px;
	max-width: 65px;
}

.btn{
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
	border-style: none;
}

.btn-xl{
	background-color: #f05f44;
	padding: 1rem 2rem;
}

.btn-xl:hover{
	background-color: #ee4b08;
	border-width: 4px;
}
